// Text colors
$textColorPrimary: #fff;
$textColorSecondary: #000;

// Gradient colors
$firstStepColor:  #1B6CA7;
$secondStepColor: #442BDB;
$thirdStepColor: #89223B;
$fourthStepColor: #9C791D;

// button variables
$buttonColor:  #4F2AC3;
